<html>
    <head>
        <title>프로필</title>

        <%-include('script.ejs') %>

        <link rel="stylesheet" href="/css/nav.css" />
        <link rel="stylesheet" href="/css/profile_tab.css" />
        <link rel="stylesheet" href="/css/profile_info.css" />
        <link rel="stylesheet" href="/css/profile_content.css" />
        <link rel="stylesheet" href="/css/profile_recipe.css" />
        <link rel="stylesheet" href="/css/food-comment.css">
        <script src="/js/profile.js"></script>

        <script>
            function update_btn() {
                location.href = "/user/update";
            }

            function delete_user() {
                axios({
                    method: "delete",
                    url: "http://localhost:8000/user/delete",
                    data: {
                        id: "<%=user%>"
                    }
                }).then((response) => {
                    return response.data;
                }).then((data) => {
                    alertDelete();
                })
            }
        </script>
    </head>

    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>

        <!-- 마이페이지 -->
        <div id="main">
            <div id="tab">
                <div id="tab-box">
                    <div id="recipe-box">
                        <h4>레시피</h4>
                        <ul>
                            <li id="write-recipe">내가 쓴 레시피</li>
                        </ul>
                    </div>

                    <div id="food-box">
                        <h4>요리 후기</h4>
                        <ul>
                            <li id="write-food">내가 쓴 요리 후기</li>
                            <!-- <li id="give-food">받은 요리 후기</li> -->
                        </ul>
                    </div>

                    <!-- <div id="comment-box">
                        <h4>댓글</h4>
                        <ul>
                            <li id="write-comment">내가 쓴 댓글</li>
                            <li id="give-comment">받은 댓글</li>
                        </ul>
                    </div> -->

                    <div id="like-box">
                        <h4>찜</h4>
                        <ul>
                            <li id="write-like">찜한 요리</li>
                            <!-- <li id="give-like">찜 받은 요리</li> -->
                        </ul>
                    </div>

                    <div id="info-box">
                        <h4>회원 관리</h4>
                        <ul>
                            <li onclick="update_btn();">정보 수정</li>
                            <li onclick="delete_user();">회원 탈퇴</li>
                        </ul>
                    </div>

                </div>
            </div>

            <div id="profile">
                <div id="profile-box">

                    <div id="profile-photo">
                        <img src="/img/people.png" />
                        <p><strong><%=name%></strong>님</p>
                        <div id="profile-name">
                            <table class="memberInfo" border="0">
                                <tr class="phoneNumber">
                                    <td><i class="fa-solid fa-phone"></i></td>
                                    <td style="padding-left: 10px;"><%=tel%></td>
                                </tr>
                                <tr class="email">
                                    <td><i class="fa-solid fa-envelope"></i></td>
                                    <td style="padding-left: 10px;"><%=email%></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div id="like-info" style="margin-top: 20px;">
                        <ul>
                            <li class="like-info-recipe">
                                <i class="fa-solid fa-pen fa-lg"></i>
                                <p>레시피</p>
                                <p class="number"><%=recipe.length%></p>
                            </li>
                            <li class="like-info-comment">
                                <i class="fa-solid fa-comment fa-lg"></i>
                                <p>댓글</p>
                                <p class="number"><%=review.length%></p>
                            </li>
                            <li class="like-info-heart">
                                <i class="fa-solid fa-heart fa-lg"></i>
                                <p class="heart">찜</p>
                                <p class="number"><%=like_title.length%></p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div id="comment">

                <div id="write-recipe-content">
                    <h2 style="color: #2E5543">내가 쓴 레시피</h2>
                    <% if (recipe.length == 0) { %>
                        <ul>
                            <li class="message">Message</li>
                            <li class="message-content">작성한 레시피가 없습니다.</li>
                        </ul>
                    <% } else { %>
                        <section class="card-box">
                            <div class="container">
                                <div class="cards">
                                    <% for (let i=0; i<recipe.length; i++) { %>
                                        <div class="card">
                                            <div class="card-img" style="background-image: url('/img/user_recipe/<%=picture[i]%>')">
                                                <div class="overlay">
                                                    <div class="overlay-content">
                                                        <a class="hover" href="/recipe/detail?user_id=<%=recipe[i].user_id%>&food_id=<%=recipe[i].id%>">자세히 보기</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-content">
                                                <h2><%=recipe[i].title%></h2>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                                <div class="pagination">
                                    <div class="prev"><</div>
                                    <div class="page">Page<sapn class="page"></sapn></div>
                                    <div class="next">></div>
                                </div>
                            </div>
                        </section>
                    <% } %>
                </div>

                <div id="write-food-content">
                    <h2 style="color: #2E5543">내가 쓴 요리 후기</h2>
                    <% if (review.length == 0) { %>
                        <ul>
                            <li class="message">Message</li>
                            <li class="message-content">작성한 요리 후기가 없습니다.</li>
                        </ul>
                    <% } else { %>
                        <ol class="food-comments">
                            <% for(let i=0; i<review.length; i++) { %>
                                <li class="food-comment">
                                    <div class="food-comment-text">
                                    <div class="food-people"><%=titles[i]%></div>
                                    <p><%=review[i].comment%></p>
                                    </div>
                                </li>
                            <% } %>
                        </ol>
                    <% } %>
                </div>

                <!-- <div id="give-food-content">
                    <h2>받은 요리 후기</h2>
                    <ul>
                        <li class="message">Message</li>
                        <li class="message-content">받은 요리 후기가 없습니다.</li>
                    </ul>
                </div> -->
                <!-- <div id="write-comment-content">
                    <h2>내가 쓴 댓글</h2>
                    <ul>
                        <li class="message">Message</li>
                        <li class="message-content">작성한 댓글이 없습니다.</li>
                    </ul>
                </div> -->
                <!-- <div id="give-comment-content">
                    <h2>받은 댓글</h2>
                    <ul>
                        <li class="message">Message</li>
                        <li class="message-content">받은 댓글이 없습니다.</li>
                    </ul>
                </div> -->

                <div id="write-like-content">
                    <h2 style="color: #2E5543">찜한 요리</h2>
                    <% if (like_title.length == 0) { %>
                        <ul>
                            <li class="message">Message</li>
                            <li class="message-content">찜한 요리가 없습니다.</li>
                        </ul>
                    <% } else { %>
                        <section class="card-box">
                            <div class="container">
                                <div class="cards">
                                    <% for (let i=0; i<recipe.length; i++) { %>
                                        <div class="card">
                                            <div class="card-img" style="background-image: url(/img/user_recipe/<%=like_picture[i]%>)">
                                                <div class="overlay">
                                                    <div class="overlay-content">
                                                        <a class="hover" href="/recipe/detail?user_id=<%=like_title[i].user_id%>&food_id=<%=like_title[i].id%>">자세히 보기</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-content">
                                                <h2><%=like_title[i].title%></h2>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                                <div class="pagination">
                                    <div class="prev"><</div>
                                    <div class="page">Page<sapn class="page"></sapn></div>
                                    <div class="next">></div>
                                </div>
                            </div>
                        </section>
                    <% } %>
                </div>

                <!-- <div id="give-like-content">
                    <h2>찜 받은 요리</h2>
                    <ul>
                        <li class="message">Message</li>
                        <li class="message-content">찜 받은 요리가 없습니다.</li>
                    </ul>
                </div> -->
                
            </div>
        </div>
    
    <script src="/js/card.js"></script>

    </body>
</html>