<html>
    <head>
        <title>프로필</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/css/box.css">
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/profile_tab.css">
        <link rel="stylesheet" href="/css/profile_content.css">
        <script src="/js/profile_1.js"></script>

        <script src="https://kit.fontawesome.com/c35f3dd7d0.js" crossorigin="anonymous"></script>

        <script>
            function update_btn() {
                location.href = "/user/update"
            }
            function delete_user() {
                axios({
                    method: "delete",
                    url: "http://localhost:8000/user/delete",
                    data: {
                        id: "<%=user%>"
                    }
                }).then((response) => {
                    return response.data;
                }).then((data) => {
                    alert(data);
                    location.href = "/";
                })
            }
        </script>
    </head>
    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>

        <div id="container">
            <!-- 마이페이지 -->
    <main>
      <section id="myPageText">
        <h1>마이페이지</h1>
      </section>

      <section id="information">
        <div id="boxInfo">
          <img src="/img/people.png" width="100px" height="80px" />
          <div id="info-group">
            <p class="modify" onclick="update_btn();"">정보수정</p>
            <p class="delete" onclick="delete_user();"">회원탈퇴</p>
          </div>
        </div>
        <div id="memberInfo">
          <h2><%=name%></h2>
          <table>
            <tr class="phoneNumber">
              <td class="input">전화번호</td>
              <td><%=tel%></td>
            </tr>
            <tr class="email">
              <td class="input">이메일</td>
              <td><%=email%></td>
            </tr>
          </table>
        </div>
      </section>

      <section id="tab_div">
        <div id="tabs_menu">
          <ul class="tabs">
            <li id="tab1">레시피</li>
            <li id="tab2">요리 후기</li>
            <li id="tab3">댓글</li>
            <li id="tab4">찜한 요리</li>
          </ul>
        </div>
        <div id="tab_content">
          <div id="tab1_content">
            <div class="main">
              <ul class="cards">
                <li class="cards_item">
                  <div class="card">
                    <div class="card_image">
                      <img src="/img/card1.jpeg" />
                    </div>
                    <div class="card_content">
                      <h2 class="card_title">미역줄기볶음</h2>
                      <br />
                      <!-- <p class="card_text">
                        쉬운반찬/가성비반찬 "미역줄기볶음"
                      </p> -->
                    </div>
                  </div>
                </li>
                <li class="cards_item">
                  <div class="card">
                    <div class="card_image">
                      <img src="/img/card2.png" />
                    </div>
                    <div class="card_content">
                      <h2 class="card_title">갈릭버터새우</h2>
                      <br />
                      <!-- <p class="card_text">갈릭버터새우구이 너무 간편해요</p> -->
                    </div>
                  </div>
                </li>
                <li class="cards_item">
                  <div class="card">
                    <div class="card_image">
                      <img src="/img/card3.jpeg" />
                    </div>
                    <div class="card_content">
                      <h2 class="card_title">차돌박이찜</h2>
                      <br />
                      <!-- <p class="card_text">된장마요소스와 함께!!</p> -->
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- 요리 후기 content -->

          <div id="tab2_content">
            <ul class="food_box">
              <li class="giveFood">받은 요리 후기</li>
              <li class="writeFood">내가 쓴 요리 후기</li>
            </ul>
            <div class="tab2_content1">
              <div class="giveFood_content">
                <div class="giveFood_content_box">
                  <p class="message">Message</p>
                  <p class="giveFood_message">받은 요리 후기가 없습니다.</p>
                </div>
              </div>
              <div class="writeFood_content">
                <div class="writeFood_content_box">
                  <p class="message">Message</p>
                  <p class="writeFood_message">내가 쓴 요리 후기가 없습니다.</p>
                </div>
              </div>
            </div>
          </div>

          <!-- 댓글 content -->
          <div id="tab3_content">
            <ul class="command_box">
              <li class="giveCommand">받은 댓글</li>
              <li class="writeCommand">내가 쓴 댓글</li>
            </ul>
            <div class="tab3_content1">
              <div class="giveCommand_content">
                <div class="giveCommand_content_box">
                  <p class="message">Message</p>
                  <p class="giveCommand_message">받은 댓글이 없습니다.</p>
                </div>
              </div>
              <div class="writeCommand_content">
                <div class="writeCommand_content_box">
                  <p class="message">Message</p>
                  <p class="writeCommand_message">내가 쓴 댓글이 없습니다.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 찜한 요리 content -->
          <div id="tab4_content">
            <div class="love_content">
              <div class="love_content_box">
                <p class="message">Message</p>
                <p class="love_content_message">찜한 요리가 없습니다.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    </body>
</html>