<html>
    <head>
        <title>게시물 랭킹</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/nav.css"/>
        <link rel="stylesheet" href="/css/ranking.css">
        <link rel="stylesheet" href="/css/bottom_bar.css">
        <%-include('script.ejs') %>

    </head>

    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>
        
        <div class="rangking_container">
            <div id="ranking_container1">
                <!-- <h1>레시피 랭킹<i class="fa-regular fa-chess-queen fa-4x" style="font-size: 50px;"></i></h1> -->
                <i class="fa-regular fa-chess-queen fa-4x" style="font-size: 60px;"></i>
                <h1>레시피 랭킹</h1>
    
                <div id="recipe_rangking">
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[0]%>&food_id=<%=like_num[0].food_id%>'">
                        <div class="ranking_txt">
                            <span>1</span>
                            <img src="/img/user_recipe/<%=picture[0]%>">
                            <span><%=title[0]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[0].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[1]%>&food_id=<%=like_num[1].food_id%>'">
                        <div class="ranking_txt">
                            <span>2</span>
                            <img src="/img/user_recipe/<%=picture[1]%>">
                            <span><%=title[1]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[1].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[2]%>&food_id=<%=like_num[2].food_id%>'">
                        <div class="ranking_txt">
                            <span>3</span>
                            <img src="/img/user_recipe/<%=picture[2]%>">
                            <span><%=title[2]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[2].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[3]%>&food_id=<%=like_num[3].food_id%>'">
                        <div class="ranking_txt">
                            <span>4</span>
                            <img src="/img/user_recipe/<%=picture[3]%>">
                            <span><%=title[3]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[3].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[4]%>&food_id=<%=like_num[4].food_id%>'">
                        <div class="ranking_txt">
                            <span>5</span>
                            <img src="/img/user_recipe/<%=picture[4]%>">
                            <span><%=title[4]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[4].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[5]%>&food_id=<%=like_num[5].food_id%>'">
                        <div class="ranking_txt">
                            <span>6</span>
                            <img src="/img/user_recipe/<%=picture[5]%>">
                            <span><%=title[5]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[5].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[6]%>&food_id=<%=like_num[6].food_id%>'">
                        <div class="ranking_txt">
                            <span>7</span>
                            <img src="/img/user_recipe/<%=picture[6]%>">
                            <span><%=title[6]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[6].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[7]%>&food_id=<%=like_num[7].food_id%>'">
                        <div class="ranking_txt">
                            <span>8</span>
                            <img src="/img/user_recipe/<%=picture[7]%>">
                            <span><%=title[7]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[7].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[8]%>&food_id=<%=like_num[8].food_id%>'">
                        <div class="ranking_txt">
                            <span>9</span>
                            <img src="/img/user_recipe/<%=picture[8]%>">
                            <span><%=title[8]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[8].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" location.href='recipe/detail?user_id=<%=user_id[9]%>&food_id=<%=like_num[9].food_id%>'">
                        <div class="ranking_txt">
                            <span style="margin-right: 17px;">10</span>
                            <img src="/img/user_recipe/<%=picture[9]%>">
                            <span><%=title[9]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[9].count%></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ranking_container1">
                <i class="fa-regular fa-chess-queen fa-4x" style="font-size: 60px;"></i>
                <h1>쉐프 랭킹</h1>
    
                <div id="recipe_rangking">
                    <div class="ranking_box">
                        <div class="ranking_txt">
                            <span>1</span>
                            <img src="/img/profile1.png">
                            <span>맛나맛나짱맛나</span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>529</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt">
                            <span>2</span>
                            <img src="/img/profile2.jpeg">
                            <span>뱃살공주</span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>483</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt">
                            <span>3</span>
                            <img src="/img/profile3.jpg">
                            <span><%=title[2]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>452</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt">
                            <span>4</span>
                            <img src="/img/profile4.jpg">
                            <span><%=title[3]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>403</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt">
                            <span>5</span>
                            <img src="/img/profile5.jpg">
                            <span><%=title[4]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>389</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt">
                            <span>6</span>
                            <img src="/img/profile6.png">
                            <span><%=title[5]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>367</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt">
                            <span>7</span>
                            <img src="/img/profile7.jpg">
                            <span><%=title[6]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>364</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt">
                            <span>8</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[7]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>334</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt">
                            <span>9</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[8]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>320</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt">
                            <span style="margin-right: 17px;">10</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[9]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>308</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ranking_container1">
                <i class="fa-regular fa-chess-queen fa-4x" style="font-size: 60px;"></i>
                <h1>밀키트 랭킹</h1>
    
                <div id="recipe_rangking">
                    <div class="ranking_box">
                        <div class="ranking_txt1">
                            <span style="margin: 0 15px 0 15px;">1</span>
                            <img src="/img/메밀소바.png">
                            <span>우삼겹 메밀소바</span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>1,051</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt1">
                            <span style="margin: 0 15px 0 15px;">2</span>
                            <img src="/img/메밀국수.png">
                            <span>들기름 메밀국수</span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>1,010</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt1">
                            <span style="margin: 0 15px 0 15px;">3</span>
                            <img src="/img/떡국.png">
                            <span>[채근담] 떡국</span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>937</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt1">
                            <span style="margin: 0 15px 0 15px;">4</span>
                            <img src="/img/소고기볶음면.png">
                            <span>상하이 소고기볶음면</span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>902</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt1">
                            <span style="margin: 0 15px 0 15px;">5</span>
                            <img src="/img/치즈닭갈비.png">
                            <span>치즈 닭갈비</span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>873</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt1">
                            <span style="margin: 0 15px 0 15px;">6</span>
                            <img src="/img/궁중떡볶이.png">
                            <span>[차이797] 우삼겹고기짬뽕</span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>865</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt1">
                            <span style="margin: 0 15px 0 15px;">7</span>
                            <img src="/img/스테이크.png">
                            <span>돈마호크 스테이크</span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>857</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt1">
                            <span style="margin: 0 15px 0 15px;">8</span>
                            <img src="/img/비빔면.png">
                            <span>산더미고기비빔면</span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>789</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt1">
                            <span style="margin: 0 15px 0 15px;">9</span>
                            <img src="/img/밀푀유나베.png">
                            <span>밀푀유나베</span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>721</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box">
                        <div class="ranking_txt1">
                            <span style="margin: 0 15px 0 15px;">10</span>
                            <img src="/img/궁중떡볶이.png">
                            <span>소불고기 궁중떡볶이</span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span>651</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%-include('footer.ejs') %>
    </body>
</html>
