<html>
    <head>
        <title>게시물 랭킹</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/nav.css"/>
        <link rel="stylesheet" href="/css/ranking.css">
        <link rel="stylesheet" href="/css/bottom_bar.css">
        <%-include('script.ejs') %>

    </head>

    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>

        <div id="ranking_container">
            <h1>레시피 랭킹<i class="fa-regular fa-chess-queen fa-4x" style="font-size: 50px;"></i></h1>

            <div id="txtb">

                <div style="display: flex;">
                    <i class="fa-solid fa-1 fa-2x"></i>
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[0]%>&food_id=<%=like_num[0].food_id%>'">
                        <%=title[0]%>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <%=like_num[0].count%>
                        </div>
                    </div>
                    <i class="fa-solid fa-6 fa-2x"></i>
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[5]%>&food_id=<%=like_num[5].food_id%>'">
                        <%=title[5]%>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <%=like_num[5].count%>
                        </div>
                    </div>
                </div>
            
                <div style="display: flex;">
                    <i class="fa-solid fa-2 fa-2x"></i> 
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[1]%>&food_id=<%=like_num[1].food_id%>'">
                        <%=title[1]%>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <%=like_num[1].count%>
                        </div>
                    </div>
                    <i class="fa-solid fa-7 fa-2x"></i>
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[6]%>&food_id=<%=like_num[6].food_id%>'">
                        <%=title[6]%>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <%=like_num[6].count%>
                        </div>
                    </div>
                </div>


                <div style="display: flex;">
                    <i class="fa-solid fa-3 fa-2x"></i>
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[2]%>&food_id=<%=like_num[2].food_id%>'">
                        <%=title[2]%>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <%=like_num[2].count%>
                        </div>
                    </div>
                    <i class="fa-solid fa-8 fa-2x"></i>
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[7]%>&food_id=<%=like_num[7].food_id%>'">
                        <%=title[7]%>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <%=like_num[7].count%>
                        </div>
                    </div>
                </div>


                <div style="display: flex;">
                    <i class="fa-solid fa-4 fa-2x"></i>
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[3]%>&food_id=<%=like_num[3].food_id%>'">
                        <%=title[3]%>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <%=like_num[3].count%>
                        </div>
                    </div>
                    <i class="fa-solid fa-9 fa-2x"></i>
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[8]%>&food_id=<%=like_num[8].food_id%>'">
                        <%=title[8]%>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <%=like_num[8].count%>
                        </div>
                    </div>
                </div>


                <div style="display: flex;">
                    <i class="fa-solid fa-5 fa-2x"></i>
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[4]%>&food_id=<%=like_num[4].food_id%>'">
                        <%=title[4]%>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <%=like_num[4].count%>
                        </div>
                    </div>
                    <div class="ten">
                        <i class="fa-solid fa-1 fa-2x"></i>
                        <i class="fa-solid fa-0 fa-2x"></i>
                    </div>
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[9]%>&food_id=<%=like_num[9].food_id%>'">
                        <%=title[9]%>
                        <div class="likes">
                            <i class="fa-solid fa-heart"></i>
                            <%=like_num[9].count%>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%-include('footer.ejs') %>
    </body>
</html>
