<html>
    <head>
        <title>게시물 랭킹</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/nav.css"/>
        <link rel="stylesheet" href="/css/ranking.css">
        <link rel="stylesheet" href="/css/bottom_bar.css">
        <%-include('script.ejs') %>

    </head>

    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>
        
        <div class="rangking_container">
            <div id="ranking_container1">
                <!-- <h1>레시피 랭킹<i class="fa-regular fa-chess-queen fa-4x" style="font-size: 50px;"></i></h1> -->
                <i class="fa-regular fa-chess-queen fa-4x" style="font-size: 60px;"></i>
                <h1>레시피 랭킹</h1>
    
                <div id="recipe_rangking">
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[0]%>&food_id=<%=like_num[0].food_id%>'">
                        <div class="ranking_txt">
                            <span>1</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[0]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[0].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[1]%>&food_id=<%=like_num[1].food_id%>'">
                        <div class="ranking_txt">
                            <span>2</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[1]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[1].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[2]%>&food_id=<%=like_num[2].food_id%>'">
                        <div class="ranking_txt">
                            <span>3</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[2]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[2].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[3]%>&food_id=<%=like_num[3].food_id%>'">
                        <div class="ranking_txt">
                            <span>4</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[3]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[3].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[4]%>&food_id=<%=like_num[4].food_id%>'">
                        <div class="ranking_txt">
                            <span>5</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[4]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[4].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[5]%>&food_id=<%=like_num[5].food_id%>'">
                        <div class="ranking_txt">
                            <span>6</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[5]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[5].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[6]%>&food_id=<%=like_num[6].food_id%>'">
                        <div class="ranking_txt">
                            <span>7</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[6]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[6].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[7]%>&food_id=<%=like_num[7].food_id%>'">
                        <div class="ranking_txt">
                            <span>8</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[7]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[7].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[8]%>&food_id=<%=like_num[8].food_id%>'">
                        <div class="ranking_txt">
                            <span>9</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[8]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[8].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" location.href='recipe/detail?user_id=<%=user_id[9]%>&food_id=<%=like_num[9].food_id%>'">
                        <div class="ranking_txt">
                            <span>10</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[9]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[9].count%></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ranking_container1">
                <!-- <h1>레시피 랭킹<i class="fa-regular fa-chess-queen fa-4x" style="font-size: 50px;"></i></h1> -->
                <i class="fa-regular fa-chess-queen fa-4x" style="font-size: 60px;"></i>
                <h1>레시피 랭킹</h1>
    
                <div id="recipe_rangking">
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[0]%>&food_id=<%=like_num[0].food_id%>'">
                        <div class="ranking_txt">
                            <span>1</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[0]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[0].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[1]%>&food_id=<%=like_num[1].food_id%>'">
                        <div class="ranking_txt">
                            <span>2</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[1]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[1].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[2]%>&food_id=<%=like_num[2].food_id%>'">
                        <div class="ranking_txt">
                            <span>3</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[2]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[2].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[3]%>&food_id=<%=like_num[3].food_id%>'">
                        <div class="ranking_txt">
                            <span>4</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[3]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[3].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[4]%>&food_id=<%=like_num[4].food_id%>'">
                        <div class="ranking_txt">
                            <span>5</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[4]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[4].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[5]%>&food_id=<%=like_num[5].food_id%>'">
                        <div class="ranking_txt">
                            <span>6</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[5]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[5].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[6]%>&food_id=<%=like_num[6].food_id%>'">
                        <div class="ranking_txt">
                            <span>7</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[6]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[6].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[7]%>&food_id=<%=like_num[7].food_id%>'">
                        <div class="ranking_txt">
                            <span>8</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[7]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[7].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[8]%>&food_id=<%=like_num[8].food_id%>'">
                        <div class="ranking_txt">
                            <span>9</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[8]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[8].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" location.href='recipe/detail?user_id=<%=user_id[9]%>&food_id=<%=like_num[9].food_id%>'">
                        <div class="ranking_txt">
                            <span>10</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[9]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[9].count%></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ranking_container1">
                <!-- <h1>레시피 랭킹<i class="fa-regular fa-chess-queen fa-4x" style="font-size: 50px;"></i></h1> -->
                <i class="fa-regular fa-chess-queen fa-4x" style="font-size: 60px;"></i>
                <h1>레시피 랭킹</h1>
    
                <div id="recipe_rangking">
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[0]%>&food_id=<%=like_num[0].food_id%>'">
                        <div class="ranking_txt">
                            <span>1</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[0]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[0].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[1]%>&food_id=<%=like_num[1].food_id%>'">
                        <div class="ranking_txt">
                            <span>2</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[1]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[1].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[2]%>&food_id=<%=like_num[2].food_id%>'">
                        <div class="ranking_txt">
                            <span>3</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[2]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[2].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[3]%>&food_id=<%=like_num[3].food_id%>'">
                        <div class="ranking_txt">
                            <span>4</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[3]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[3].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[4]%>&food_id=<%=like_num[4].food_id%>'">
                        <div class="ranking_txt">
                            <span>5</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[4]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[4].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[5]%>&food_id=<%=like_num[5].food_id%>'">
                        <div class="ranking_txt">
                            <span>6</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[5]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[5].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[6]%>&food_id=<%=like_num[6].food_id%>'">
                        <div class="ranking_txt">
                            <span>7</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[6]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[6].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[7]%>&food_id=<%=like_num[7].food_id%>'">
                        <div class="ranking_txt">
                            <span>8</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[7]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[7].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" onclick="location.href='recipe/detail?user_id=<%=user_id[8]%>&food_id=<%=like_num[8].food_id%>'">
                        <div class="ranking_txt">
                            <span>9</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[8]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[8].count%></span>
                            </div>
                        </div>
                    </div>
    
                    <div class="ranking_box" location.href='recipe/detail?user_id=<%=user_id[9]%>&food_id=<%=like_num[9].food_id%>'">
                        <div class="ranking_txt">
                            <span>10</span>
                            <img src="/img/궁중떡볶이.png">
                            <span><%=title[9]%></span>
                            <div class="likes">
                                <i class="fa-solid fa-heart"></i>
                                <span><%=like_num[9].count%></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%-include('footer.ejs') %>
    </body>
</html>
