<html>
    <head>
        <title>게시물 랭킹</title>

        <link rel="stylesheet" href="/css/nav.css"/>
        <link rel="stylesheet" href="/css/ranking.css">
        <script src="https://kit.fontawesome.com/3a4e397308.js" crossorigin="anonymous"></script>
        <%-include('script.ejs') %>
    </head>

    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>

        <div id="ranking_container">
            <i class="fa-regular fa-chess-queen fa-4x"></i>
            <h1>레시피 랭킹</h1>
            <div id="txtb">
                <div id="txtb1">
                    <i class="fa-solid fa-1"></i>
                    <i class="fa-solid fa-chess-queen"></i>
                    <i class="fa-solid fa-crown"></i>
                    <i class="fa-regular fa-face-grin-hearts"></i>
                    <i class="fa-regular fa-face-kiss-wink-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                
                </div>
                <div id="txtb2">
                    <i class="fa-solid fa-2"></i>

                </div>
                <div id="txtb3">
                    <i class="fa-solid fa-3"></i>

                </div>
                <div id="txtb4">
                    <i class="fa-solid fa-4"></i>

                </div>
                <div id="txtb5">
                    <i class="fa-solid fa-5"></i>

                </div>
            </div>


            <!-- <table frame=void class="txtb" border="1" cellspacing="0">
                <tr class="txtb1">
                    <th width="300">제목</th>
                    <th width="300">좋아요 수</th>
                </tr>
                <% for(let i=0; i<like_num.length; i++) { %>
                    <tr class="txtb2">
                        <th><a href="recipe/detail?user_id=<%=user_id[i]%>&food_id=<%=like_num[i].food_id%>"><%=title[i]%></a></th>
                        <th class="like"><%=like_num[i].count%></th>
                    </tr>
                <% } %>
            </table> -->
        </div>
    </body>
</html>
