<html>
    <head>
        <title>RECIPE of GOD에 오신 것을 환영합니다</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/menu.css">
        <link rel="stylesheet" href="/css/scroll.css">
        <link rel="stylesheet" href="/css/bottom_bar.css">

        <%-include('script.ejs') %>
    </head>

    <body>

        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>
        
        <div class="container2">
            <div class="menu_img"><img src="/img/menu_top.png" id="menu_img">
                <div class="menu_txt">
                    <p id="txt1">메뉴를 검색해보세요.</p>
                    <p id="txt2">당신을 위한 메뉴가 여기 있습니다.</p>
                </div>
                <div class="search">
                    <form action="" class="search-bar">
                        <input type="text" class="search_box" placeholder="요리/재료명을 입력해주세요" name="q">
                        <button type="submit" class="search_btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <div class="option">
                    <p class="food_btn">전체</p>
                    <p class="food_btn">밥</p>
                    <p class="food_btn">국/찌개</p>
                    <p class="food_btn">면</p>
                    <p class="food_btn">고기</p>
                    <p class="food_btn">해산물</p>
                    <p class="food_btn">채소</p>
                    <p class="food_btn">소스</p>
                    <p class="food_btn">디저트</p>
                </div>
            </div>
        </div>

        <div class="container5">
            <div class="container5_txt">
                <p class="total">총 <span class="count"><%=result.length%></span>개</p>
            </div>

            <!-- 전체 -->
            <div class="container5_card">
                <% for (let i=0; i<result.length; i++) { %>
                    <div class="main_card">
                        <a href="/recipe/detail?user_id=<%=result[i].user_id%>&food_id=<%=result[i].id%>">
                            <img src="/img/user_recipe/<%=picture[i]%>" class="main_card_image">
                            <h4><%=result[i].title%></h4>
                        </a>
                    </div>
                <% } %>
                <!-- <div class="main_card">
                    <a href="#">
                        <img src="/img/menu13.png" class="main_card_image">
                        <div class="card_content">
                            <h4>블루베리 치즈 케이크</h4>
                            <p>
                                꾸덕한 치즈와 달달한 블루베리로 만드는
                                <br>
                                블루베리 치즈케이크 레시피
                            </p>
                        </div>
                    </a>
                </div> -->
                <!-- <div class="main_card">
                    <a href="#">
                        <img src="/img/menu14.png" class="main_card_image">
                        <div class="card_content">
                            <h4>명란부추솥밥</h4>
                            <p>
                                감탄사 나오는 
                                <br>
                                초대박 명란 솥밥 하는법
                            </p>
                        </div>
                    </a>
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu15.png" class="main_card_image">
                        <div class="card_content">
                            <h4>잡채</h4>
                            <p>
                                손님들이 극찬하는 
                                <br>
                                잡채 황금레시피
                            </p>
                        </div>
                    </a>
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu16.png" class="main_card_image">
                        <div class="card_content">
                            <h4>오꼬노미야끼</h4>
                            <p>
                                양배추, 숙주 듬뿍
                                <br>
                                영양 가득 오꼬노미야끼 레시피
                            </p>
                        </div>
                    </a>
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu1.png" class="main_card_image">
                        <div class="card_content">
                            <h4>파인애플 볶음밥</h4>
                            <p>
                                달콤 상콤한 파인애플 맛이 더해진
                                <br>
                                감칠맛 작렬 볶음밥 레시피
                            </p>
                        </div>
                    </a>
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu2.png" class="main_card_image">
                        <div class="card_content">
                            <h4>닭꼬치</h4>
                            <p>
                                집에서도 손쉽게 준비할 수 있는 
                                <br>
                                간단한 술안주 레시피
                            </p>
                        </div>
                    </a>
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu3.png" class="main_card_image">
                        <div class="card_content">
                            <h4>또띠아</h4>
                            <p>
                                바삭한 치킨과 아삭한 채소를 넣은
                                <br>
                                든든한 한끼 또띠아 레시피
                            </p>
                        </div>
                    </a>
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu4.png" class="main_card_image">
                        <div class="card_content">
                            <h4>딸기요거트</h4>
                            <p>
                                상큰한 딸기로 만드는 
                                <br>
                                건강 여름 홈카페 레시피
                            </p>
                        </div>
                    </a>
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu5.png" class="main_card_image">
                        <div class="card_content">
                            <h4>분짜</h4>
                            <p>
                                해외여행의 아쉬움을 달래줄
                                <br>
                                베트남 현지 느낌 물씬 분짜 레시피
                            </p>
                        </div>
                    </a>
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu6.png" class="main_card_image">
                        <div class="card_content">
                            <h4>콥샐러드</h4>
                            <p>
                                건강한 다이어트식
                                <br>
                                콥샐러드 레시피
                            </p>
                        </div>
                    </a>    
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu7.png" class="main_card_image">
                        <div class="card_content">
                            <h4>토마토 바질 파스타</h4>
                            <p>
                                주말 점심메뉴 고민될 때
                                <br>
                                한끼 뚝딱 간단 파스타 레시피
                            </p>
                        </div>
                    </a>
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu8.png" class="main_card_image">
                        <div class="card_content">
                            <h4>망고스프</h4>
                            <p>
                                입맛없을 때는 
                                <br>
                                달달하고 부드러운 망고스프
                            </p>
                        </div>
                    </a>
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu9.png" class="main_card_image">
                        <div class="card_content">
                            <h4>치킨버거</h4>
                            <p>
                                버거번을 이용한
                                <br>
                                집에서 만드는 치킨버거 레시피
                            </p>
                        </div>
                    </a>
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu10.png" class="main_card_image">
                        <div class="card_content">
                            <h4>연어구이</h4>
                            <p>
                                밥 한끼 뚝딱
                                <br>
                                영양만점 연어구이 레시피
                            </p>
                        </div>
                    </a>
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu11.png" class="main_card_image">
                        <div class="card_content">
                            <h4>말차버블티</h4>
                            <p>
                                버블이 쫄깃하게 씹히는
                                <br>
                                달달 쌉쌀한 말차버블티 레시피
                            </p>
                        </div>
                    </a>
                </div>
                <div class="main_card">
                    <a href="#">
                        <img src="/img/menu12.png" class="main_card_image">
                        <div class="card_content">
                            <h4>머핀</h4>
                            <p>
                                아이 간식으로 딱 
                                <br>
                                간단한 머핀 레시피
                            </p>
                        </div>
                    </a>
                </div> -->
            </div>

            <!-- 밥 -->
            <div class="container5_card hide">
                <% for (let i=0; i<rice.length; i++) { %>
                    <div class="main_card">
                        <a href="/recipe/detail?user_id=<%=rice[i].user_id%>&food_id=<%=rice[i].id%>">
                            <img src="/img/user_recipe/<%=rice_pictures[i]%>" class="main_card_image">
                            <h4><%=rice[i].title%></h4>
                        </a>
                    </div>
                <% } %>
            </div>

            <!-- 국/찌개 -->
            <div class="container5_card hide">
                <% for (let i=0; i<soup.length; i++) { %>
                    <div class="main_card">
                        <a href="/recipe/detail?user_id=<%=soup[i].user_id%>&food_id=<%=soup[i].id%>">
                            <img src="/img/user_recipe/<%=soup_pictures[i]%>" class="main_card_image">
                            <h4><%=soup[i].title%></h4>
                        </a>
                    </div>
                <% } %>
            </div>

            <!-- 면 -->
            <div class="container5_card hide">
                <% for (let i=0; i<noodle.length; i++) { %>
                    <div class="main_card">
                        <a href="/recipe/detail?user_id=<%=noodle[i].user_id%>&food_id=<%=noodle[i].id%>">
                            <img src="/img/user_recipe/<%=noodle_pictures[i]%>" class="main_card_image">
                            <h4><%=noodle[i].title%></h4>
                        </a>
                    </div>
                <% } %>
            </div>

            <!-- 고기 -->
            <div class="container5_card hide">
                <% for (let i=0; i<meat.length; i++) { %>
                    <div class="main_card">
                        <a href="/recipe/detail?user_id=<%=meat[i].user_id%>&food_id=<%=meat[i].id%>">
                            <img src="/img/user_recipe/<%=meat_pictures[i]%>" class="main_card_image">
                            <h4><%=meat[i].title%></h4>
                        </a>
                    </div>
                <% } %>
            </div>

            <!-- 해산물 -->
            <div class="container5_card hide">
                <% for (let i=0; i<seafood.length; i++) { %>
                    <div class="main_card">
                        <a href="/recipe/detail?user_id=<%=seafood[i].user_id%>&food_id=<%=seafood[i].id%>">
                            <img src="/img/user_recipe/<%=seafood_pictures[i]%>" class="main_card_image">
                            <h4><%=seafood[i].title%></h4>
                        </a>
                    </div>
                <% } %>
            </div>

            <!-- 채소 -->
            <div class="container5_card hide">
                <% for (let i=0; i<vegetables.length; i++) { %>
                    <div class="main_card">
                        <a href="/recipe/detail?user_id=<%=vegetables[i].user_id%>&food_id=<%=vegetables[i].id%>">
                            <img src="/img/user_recipe/<%=vegetables_pictures[i]%>" class="main_card_image">
                            <h4><%=vegetables[i].title%></h4>
                        </a>
                    </div>
                <% } %>
            </div>

            <!-- 소스 -->
            <div class="container5_card hide">
                <% for (let i=0; i<sauce.length; i++) { %>
                    <div class="main_card">
                        <a href="/recipe/detail?user_id=<%=sauce[i].user_id%>&food_id=<%=sauce[i].id%>">
                            <img src="/img/user_recipe/<%=sauce_pictures[i]%>" class="main_card_image">
                            <h4><%=sauce[i].title%></h4>
                        </a>
                    </div>
                <% } %>
            </div>

            <!-- 디저트 -->
            <div class="container5_card hide">
                <% for (let i=0; i<dessert.length; i++) { %>
                    <div class="main_card">
                        <a href="/recipe/detail?user_id=<%=dessert[i].user_id%>&food_id=<%=dessert[i].id%>">
                            <img src="/img/user_recipe/<%=dessert_pictures[i]%>" class="main_card_image">
                            <h4><%=dessert[i].title%></h4>
                        </a>
                    </div>
                <% } %>
            </div>

            <div class="menu_more">
                <button type="button">+ 더보기</button>
            </div>

        </div>

        <%-include('footer.ejs') %>
        
        <input class="upbtn" type="button" onclick="clickup()" value="&#xf106">
        <!-- <input class="downbtn" type="button" onclick="clickdown()" value="&#xf107"> -->
        <script src="js/scroll.js"></script>

        <script>
            // 로딩시 전체 버튼 선택
            window.onload = function() {
                let all_food = document.querySelectorAll(".food_btn");
                $(all_food[0]).addClass("toggle");
            }

            $(".food_btn").on("click", function( obj ) {
                // 버튼 클릭시 색 변환
                let target = obj.currentTarget;
                let brothers = $(target).siblings();

                $(target).addClass("toggle");
                $(brothers).removeClass("toggle");

                // 해당 컨텐츠만 보이게
                let index = Number($(target).prevAll().length) + 1;
                let container = document.querySelector(".container5");
                let content_brothers = $(container).children();
                content_brothers = content_brothers.slice(1,10);

                $(content_brothers[index-1]).removeClass("hide");
                for (let i=0; i<9; i++) {
                    if (i == index-1) {
                        continue;
                    }
                    $(content_brothers[i]).addClass("hide");
                }

                // 분류별 개수
                let ct_list = ["result", "rice", "soup", "noodle", "meat", "seafood", "vegetables", "sauce", "dessert"];

                console.log(index);
                console.log(ct_list[index-1]);
                console.log("<%=sauce.length%>");
                console.log("<%=" + ct_list[index-1] + ".length%>");

                $(".container5_txt").html('<p class="total">총 <span class="count"><%=' + ct_list[index-1] + '.length%></span>개</p>')
            });
        </script>
    </body>
</html>