<html>
    <head>
        <title><%=data.title%></title>
        <meta charset="utf-8">
        <link rel = "stylesheet" href = "/css/recipe_detail.css">
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/bottom_bar.css">

        <%-include('script.ejs') %>

        <%-include('review_function.ejs') %>

        <script>
            let like_status = "";

            if ("<%=isLike%>" == "true") {
                console.log("true");
                like_status = true;
            } else {
                console.log("false");
                like_status = false;
            }

            function like() {
                if (!like_status) {
                    $(".like-content .btn-secondary").css("background-color", "rgb(190, 51, 13)");
                    $(".like-content .btn-secondary").css("color", "white");
                    like_status = true;

                    axios({
                    method: "post",
                    url: "http://localhost:8000/recipe/like",
                    data: {
                        food_id: "<%=data.id%>"
                    },
			        }).then((response) => {console.log(response);})

                } else {
                    $(".like-content .btn-secondary").css("background-color", "white");
                    $(".like-content .btn-secondary").css("color", "rgb(190, 51, 13)");
                    like_status = false;

                    axios({
                    method: "post",
                    url: "http://localhost:8000/recipe/dislike",
                    data: {
                        food_id: "<%=data.id%>"
                    },
			        }).then((response) => {console.log(response);})
                }
            }

            // $(function(){
	        //     $(document).one('click', '.like-review', function(e) {
            //         $(this).html('<i class="fa fa-heart" aria-hidden="true"></i> You liked this');
            //         $(this).children('.fa-heart').addClass('animate-like');
	        //     });
            // });

        </script>
    </head>
    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>
        
        <div class="recipe_detail">

            <h2><%=data.title%></h2>

            <div class="writer">
                <span>작성자 . <%=data.user_id%></span>
                <% if (isLogin) { %>
                    <% if (isLike) { %>
                        <div class="like-content">
                            <button id="like" class="btn-secondary like-review" style="background-color: rgb(190, 51, 13); color: white" onclick="like();">
                            <i class="fa fa-heart" aria-hidden="true"></i> Like
                            </button>
                        </div>
                    <% } else { %>
                        <div class="like-content">
                            <button id="like" class="btn-secondary like-review" onclick="like();">
                            <i class="fa fa-heart" aria-hidden="true"></i> Like
                            </button>
                        </div>
                    <% } %>
                <% } else { %>
                    <div class="like-content">
                        <button id="like" class="btn-secondary like-review" onclick="alertLike();">
                        <i class="fa fa-heart" aria-hidden="true"></i> Like
                        </button>
                    </div>
                <% } %>
            </div>
            
            <hr class="line1" style="margin-top: 15px;">
            
            <div class="detail_img">
                <% for (let i=0; i<picture.length; i++) { %>
                    <img src='/img/user_recipe/<%=picture[i].filename%>' width="700px">
                <% } %>
            </div>
    
            <hr class="line1" style="margin-top: 35px;">
    
            <div class="txt1"><%=data.comment%></div>
    
            <hr class="line3">

            <p class="ing">INGREDIENTS</p>
            <div class="txt2"><%=data.material%></div>
    
            <hr class="line3">

            <p class="ing">HOW TO COOK</p>
            <div class="htc">
                <% for (let i=0; i<step.length; i++) { %>
                    <div class="txt3">
                        <span class="step">[Step<%=i+1%>]</span>
                        <%=step[i].description%> <br>
                    </div>
                <% } %>
            </div>
    
            <hr class="line3" style="margin-top: 70px;">

            <p class="review">요리 후기</p>

            <% if (isLogin) { %>
            <form id="review_form">
                <textarea name="review" cols="111" rows="4" class="txtb" required></textarea>
                <!-- <div style="margin-left: 90%;"> -->
                    <button type="button" class="register_btn" onclick="postComment();">등록</button>
                <!-- </div> -->
            </form>
            <% } else { %>
                <div id="unactivated"><i class='bi bi-lock'></i> 댓글 기능은 로그인 후 이용 가능합니다.</div>
            <% } %>

            <table id="reviewTable" cellspacing="0" width="815">
                <tr id="th">
                    <th width="200">작성자</th>
                    <th width="750">후기</th>
                    <th></th>
                </tr>
                <% for(let i=0; i<review.length; i++) { %>
                    <tr id="review_<%=review[i].id%>">
                        <th class="txt5"><%=review[i].user_id%></th>
                        <th class="txt5"><%=review[i].comment%></th>
                        <% if (review[i].user_id == user) { %>
                            <th><i onclick="getReview('<%=review[i].id%>');" class="bi bi-pencil-fill"></i></th>
                            <th id="deleteComment" onclick="deleteComment('<%=review[i].id%>');">x</th>
                        <% } else { %>
                            <th></th>
                            <th></th>
                        <% } %>
                    </tr>
                <% } %>
            </table>

            <hr class="line4">

            <div class="btn">
                <% if (user == data.user_id) { %>
                    <form action="/recipe/update" method="get">
                        <input type="hidden" name="food_id" value="<%=data.id%>">
                        <button class="modify_btn">수정하기</button>
                    </form>
                    <a href="/recipe"><button class="mypage_btn">목록</button></a> <br>
                <% } else { %>
                    <a href="/recipe"><button class="mypage_btn" style="margin: auto;">목록</button></a> <br>
                <% }%>
            </div>

        </div>

        <%-include('footer.ejs') %>
    </body>
</html>