<html>
    <head>
        <title>레시피 등록 결과 화면</title>
        <meta charset="utf-8">
        <link rel = "stylesheet" href = "/css/recipe_detail.css">
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/bottom_bar.css">

        <%-include('script.ejs') %>
    </head>
    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>
        
        <div class="recipe_detail">
            <h2 style="text-align: center; margin: 0; color: #2E5543"><%=data.title%></h2>
            <p style="text-align: right; margin: 10px 0 20px 0; margin-top: 50px;">작성자 : <%=data.user_id%></p>
            <!-- <div style="display: flex;">
                <p style="text-align: right; margin: 10px 0 20px 0; margin-top: 50px;">작성자 : <%=data.user_id%></p> -->
                <div class="wrapper">
                    <div class="flex-container">
                        <div class="flex-child">
                            <div id="heart-like"></div>
                            <div id="heart-unlike"></div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->

            <hr class="line1">
            
            <div class="detail_img">
                <% for (let i=0; i<picture.length; i++) { %>
                    <img src='/img/user_recipe/<%=picture[i].filename%>' style="width: 300px; height: 300px">
                <% } %>
            </div>

            <hr class="line1">
            <!-- <hr class="line2"> -->

            <div class="txt1">
                <%=data.comment%>
            </div>

            <hr class="line3">

            <p class="ing">INGREDIENTS</p>
            <div class="txt2">
                <%=data.material%>
            </div>

            <hr class="line3">

            <p class="ing">HOW TO COOK</p>
            <div class="htc">
                <% for (let i=0; i<step.length; i++) { %>
                    <div class="txt3">
                        <span class="step">[Step<%=i+1%>]</span>
                        <%=step[i].description%> <br>
                    </div>
                <% } %>
            </div>

            <hr class="line3">

            <p class="writer" style="color: #2E5543;">요리 후기</9>
            
            <hr class="line4">

            <div class="btn">
                <% if (user == data.user_id) { %>
                <form action="/recipe/update" method="get">
                    <input type="hidden" name="food_id" value="<%=data.id%>">
                    <button class="modify_btn">수정하기</button>
                </form>
                <% } %>
                <a href="/recipe"><button class="mypage_btn">목록</button></a> <br>
            </div>
        </div>

        <%-include('footer.ejs') %>
    </body>
</html>