<html>
    <head>
        <title><%=data.title%></title>
        <meta charset="utf-8">
        <link rel = "stylesheet" href = "/css/recipe_detail.css">
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/bottom_bar.css">

        <%-include('script.ejs') %>

        <script>
            function postComment() {
                let form = document.getElementById("review_form");
                let comment = form.review.value;

                axios({
                    method: "post",
                    url: "http://localhost:8000/recipe/review",
                    data: {
                        food_id: "<%=data.id%>",
                        comment: comment
                    },
			    }).then((response) => {
                    return response.data;
                }).then((data) => {
                    form.reset();
                    console.log(data);
                    let html = "<tr id='review_" + data.id + "'><th><%=user%></th><th>" + comment + "</th><th id='deleteComment' onclick='deleteComment(" + data.id + ")'>x</th></tr>";
                    $("table").append(html);
                })
            }

            function deleteComment(id) {
                console.log("delete");
                axios({
                    method: "delete",
                    url: "http://localhost:8000/recipe/deletereview",
                    data: { id : id }
                }).then((response) => {
                    return response.data;
                }).then((data) => {
                    $("#review_" + id).remove();
                })
            }

            function like() {
                console.log("like");

                axios({
                    method: "post",
                    url: "http://localhost:8000/recipe/like",
                    data: {
                        food_id: "<%=data.id%>"
                    },
			    }).then((response) => {console.log(response);})
            }

            function dislike() {
                console.log("dislike");

                axios({
                    method: "post",
                    url: "http://localhost:8000/recipe/dislike",
                    data: {
                        food_id: "<%=data.id%>"
                    },
			    }).then((response) => {console.log(response);})
            }

            $(function(){
	            $(document).one('click', '.like-review', function(e) {
                    $(this).html('<i class="fa fa-heart" aria-hidden="true"></i> You liked this');
                    $(this).children('.fa-heart').addClass('animate-like');
	            });
            });

        </script>
    </head>
    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>
        
        <div class="recipe_detail">

            <h2 style="text-align: center; margin: 0; color: #2E5543">- <%=data.title%> -</h2>

            <div style="display:flex;">
                <p style="text-align: right; margin-top: 40px; margin-left: 585px;">작성자 : <%=data.user_id%></p>
                <div class="like-content">
                    <button class="btn-secondary like-review">
                    <i class="fa fa-heart" aria-hidden="true"></i> Like
                    </button>
                </div>
            </div>
            
            <hr class="line1">
            
            <div class="detail_img">
                <% for (let i=0; i<picture.length; i++) { %>
                    <img src='/img/user_recipe/<%=picture[i].filename%>' style="width: 300px; height: 300px">
                <% } %>
            </div>
    
            <hr class="line1" style="margin-top: 35px;">
    
            <div class="txt1"><%=data.comment%></div>
    
            <hr class="line3">

            <p class="ing">INGREDIENTS</p>
            <div class="txt2"><%=data.material%></div>
    
            <hr class="line3">

            <p class="ing">HOW TO COOK</p>
            <div class="htc">
                <% for (let i=0; i<step.length; i++) { %>
                    <div class="txt3">
                        <span class="step">[Step<%=i+1%>]</span>
                        <%=step[i].description%> <br>
                    </div>
                <% } %>
            </div>
    
            <hr class="line3" style="margin-top: 70px;">

            <p class="writer" style="color: #2E5543;">요리 후기</p>

            <% if (isLogin) { %>
            <form id="review_form">
                <textarea name="review" cols="112" rows="3" style="padding: 10px 0 0 10px;"></textarea> <br>
                <button type="button" onclick="postComment();">등록</button>
            </form>
            <% } else { %>
                <i class='bi bi-lock' style="position: relative; top: 29px; left: 10px;"></i>
                <textarea id="unactivated" cols="109" rows="3" readonly style="padding: 10px 0 0 30px;">댓글 기능은 로그인 후 이용 가능합니다.</textarea>
            <% } %>

            <table id="reviewTable" cellspacing="0">
                <tr id="th">
                    <th width="200">작성자</th>
                    <th width="750">후기</th>
                    <th></th>
                </tr>
                <% for(let i=0; i<review.length; i++) { %>
                    <tr id="review_<%=review[i].id%>">
                        <th><%=review[i].user_id%></th>
                        <th><%=review[i].comment%></th>
                        <% if (review[i].user_id == user) { %>
                            <th><i class="bi bi-pencil-fill"></i></th>
                            <th id="deleteComment" onclick="deleteComment('<%=review[i].id%>');">x</th>
                        <% } else { %>
                            <th></th>
                            <th></th>
                        <% } %>
                    </tr>
                <% } %>
            </table>

            <hr class="line4">

            <div class="btn">
                <% if (user == data.user_id) { %>
                    <form action="/recipe/update" method="get">
                        <input type="hidden" name="food_id" value="<%=data.id%>">
                        <button class="modify_btn">수정하기</button>
                    </form>
                    <a href="/recipe"><button class="mypage_btn">목록</button></a> <br>
                <% } else { %>
                    <a href="/recipe"><button class="mypage_btn" style="margin: auto;">목록</button></a> <br>
                <% }%>
            </div>

        </div>

        <%-include('footer.ejs') %>

    </body>
</html>