<html>
    <head>
        <title>레시피 등록 결과 화면</title>
        <meta charset="utf-8">
        <link rel = "stylesheet" href = "/css/recipe_detail.css">
        <link rel="stylesheet" href="/css/nav.css">

        <script src="https://kit.fontawesome.com/c35f3dd7d0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>
        
        <div class="recipe_detail">
            <h2><%=data.title%></h2>

            <h4>작성자</h4>
            <div class="txtb1">
                <h5><%=data.user_id%></h5>
            </div>

            <h4>요리 소개</h4>
            <div class="txtb2">
                <h5><%=data.comment%></h5>
            </div>

            <h4>재료</h4>
            <div class="txtb2">
                <h5><%=data.material%></h5>
            </div>

            <h4>요리 순서</h4>
            <% for (let i=0; i<step.length; i++) { %>
                <div class="txtb2">
                    <h6>Step<%=i+1%></h6>
                    <%=step[i].description%> <br>
                </div>
            <% } %>

            <h4>요리 완성 사진</h4>
            <% for (let i=0; i<picture.length; i++) { %>
                <img src='/img/user_recipe/<%=picture[i].filename%>' style="width: 300px; height: 300px">
            <% } %>

            <div class="btn">
                <form action="get">
                    <input type="hidden" name="food_id" value="<%=data.id%>">
                    <button class="modify_btn">수정하기</button></a>
                </form>
                <a href="/user/profile"><button class="mypage_btn">마이페이지</button></a> <br>
            </div>
        </div>
    </body>
</html>