<html>
    <head>
        <title>레시피 등록 결과 화면</title>
        <meta charset="utf-8">
        <link rel = "stylesheet" href = "/css/recipe_detail.css">
        <link rel="stylesheet" href="/css/nav.css">

        <script src="https://kit.fontawesome.com/c35f3dd7d0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>
        
        <div class="recipe_detail">
            <h2><%=data.title%></h2>

            <hr class="line1">
            <hr class="line2">

            <div class="detail_img">
                <% for (let i=0; i<picture.length; i++) { %>
                    <img src='/img/user_recipe/<%=picture[i].filename%>' style="width: 300px; height: 300px">
                <% } %>
            </div>

            <div class="txt1">
                <%=data.comment%>
            </div>

            <hr class="line1">

            <p class="ing">INGREDIENTS</p>
            <div class="txt2">
                <%=data.material%>
            </div>

            <hr class="line1">

            <p class="ing">HOW TO COOK</p>
            <div class="htc">
                <% for (let i=0; i<step.length; i++) { %>
                    <div class="txt3">
                        <span class="step">Step<%=i+1%></span>
                        <%=step[i].description%> <br>
                    </div>
                <% } %>
            </div>

            <hr class="line3">
            

            <p class="writer">레시피 작성자</9>
            <div class="txt4">
                <p><%=data.user_id%></p>
            </div>

            <hr class="line4">

            <p class="writer">요리 후기</9>
            
            <hr class="line4">

            <div class="btn">
                <form action="get">
                    <input type="hidden" name="food_id" value="<%=data.id%>">
                    <button class="modify_btn">수정하기</button></a>
                </form>
                <a href="/user/profile"><button class="mypage_btn">마이페이지</button></a> <br>
            </div>
        </div>
    </body>
</html>