<html>
    <head>
        <title>정보수정</title>
        <meta charset="UTF-8">

        <link rel = "stylesheet" href = "/css/update_page.css">
        <link rel="stylesheet" href="/css/nav.css">

        <%-include('script.ejs') %>

        <script>
            function update() {
                let form = document.getElementById("update_form");

                let result = form.checkValidity();

                if ( !result ) {
                    form.reportValidity();
                    return false;
                }
                
                axios({
                    method: "patch",
                    url: "http://localhost:8000/user/update",
                    data: {
                        id: "<%=user%>",
                        pw: form.pw.value,
                        name: form.name.value,
                        tel: form.tel.value,
                        email: form.email.value
                    }
                }).then((response) => {
                    return response.data;
                }).then((data) => {
                    alertChange();
                })
            }
        </script>
    </head>

    <body>
        <%-include('nav.ejs') %>
        <script src="/js/nav.js"></script>

        <!-- <h1 class="update_font">정보수정</h1> -->

        <form id="update_form">
            <h1 class="update_font">정보수정</h1>
            <table>
                <tr>
                    <td><h4>ID</h4></td>
                    <td class="id"><%=user%></td>
                </tr>
            </table>
            <h3>Password</h3>
            <input type="password" name="pw" value="<%=pw%>" class="txtb" required> <br>
            <h3>Name</h3>
            <input type="text" name="name" value="<%=name%>" class="txtb" reauired> <br>
            <h3>Phone Number</h3>
            <input type="text" name="tel" value="<%=tel%>" class="txtb"> <br>
            <h3>Email</h3>
            <input type="text" name="email" value="<%=email%>" class="txtb" reauired> <br>
            <button type="button" onclick="update();" class="update_btn">정보 수정</button>
        </form>
    </body>
</html>